<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.leadeon.cardopenadmin.mapper.nmg_discount_infoMapper" >
  <resultMap id="BaseResultMap" type="cn.leadeon.cardopenadmin.entity.nmg_discount_info" >
    <result column="discount_id" property="discountId" jdbcType="VARCHAR" />
    <result column="discount_code" property="discountCode" jdbcType="VARCHAR" />
    <result column="discount_name" property="discountName" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="cn.leadeon.cardopenadmin.entity.nmg_discount_info" >
    insert into nmg_discount_info (discount_id, discount_code, discount_name, 
      city,flag,state)
    values (#{discountId,jdbcType=VARCHAR}, #{discountCode,jdbcType=VARCHAR}, #{discountName,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR},#{flag,jdbcType=VARCHAR},#{state,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.leadeon.cardopenadmin.entity.nmg_discount_info" >
    insert into nmg_discount_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="discountId != null" >
        discount_id,
      </if>
      <if test="discountCode != null" >
        discount_code,
      </if>
      <if test="discountName != null" >
        discount_name,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="discountId != null" >
        #{discountId,jdbcType=VARCHAR},
      </if>
      <if test="discountCode != null" >
        #{discountCode,jdbcType=VARCHAR},
      </if>
      <if test="discountName != null" >
        #{discountName,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=VARCHAR}
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>

  <select id="applyCardDisc" parameterType="java.lang.String" resultType="java.util.Map">
    select
    discount_id,
    discount_code,
    discount_name,
    city,
    CASE

    WHEN city is null THEN
    '全省通用' ELSE nci.city_name
    END city_name,
    flag,
    case when state = '1' then '已上线' else '已下线' end state,
    state as stateVal
    from nmg_discount_info nmi
    LEFT JOIN nmg_city_info nci ON nmi.city = nci.city_code
    where 1 = 1
    <if test="city != null">
      and city = #{city,jdbcType=VARCHAR} or city = null or city = ""
    </if>
    <if test="flag != null and flag == T">
      and flag in ('T','S')
    </if>
    <if test="flag == null">
      and flag = 'S'
    </if>
    <if test="discountId != null">
      and discount_id = #{discountId,jdbcType=VARCHAR}
    </if>
    <if test="unify != null">
      and city is null
    </if>
    <if test="mealState != null">
      and state = '1'
    </if>
  </select>

  <delete id="cardDiscountDel" parameterType="java.lang.String">
    delete from nmg_discount_info where discount_id = #{discountId,jdbcType=VARCHAR}
  </delete>

  <update id="cardDiscountUpdate" parameterType="cn.leadeon.cardopenadmin.entity.nmg_discount_info">
    update nmg_discount_info set discount_code=#{discountCode,jdbcType=VARCHAR},discount_name=#{discountName,jdbcType=VARCHAR},city=#{city,jdbcType=VARCHAR} where discount_id=#{discountId,jdbcType=VARCHAR}
  </update>

  <select id="checkUse" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(*) from nmg_order_detail where order_discount = #{discount,jdbcType=VARCHAR}
  </select>

  <update id="onoffLine" parameterType="java.util.Map">
    update nmg_discount_info set state = #{state} where discount_id = #{discountId}
  </update>
</mapper>