<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.leadeon.cardopenadmin.mapper.nmg_discount_infoMapper" >
  <resultMap id="BaseResultMap" type="cn.leadeon.cardopenadmin.entity.nmg_discount_info" >
    <result column="discount_id" property="discountId" jdbcType="VARCHAR" />
    <result column="discount_code" property="discountCode" jdbcType="VARCHAR" />
    <result column="discount_name" property="discountName" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="cn.leadeon.cardopenadmin.entity.nmg_discount_info" >
    insert into nmg_discount_info (discount_id, discount_code, discount_name, 
      city,flag)
    values (#{discountId,jdbcType=VARCHAR}, #{discountCode,jdbcType=VARCHAR}, #{discountName,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR},#{flag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.leadeon.cardopenadmin.entity.nmg_discount_info" >
    insert into nmg_discount_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="discountId != null" >
        discount_id,
      </if>
      <if test="discountCode != null" >
        discount_code,
      </if>
      <if test="discountName != null" >
        discount_name,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="flag != null">
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="discountId != null" >
        #{discountId,jdbcType=VARCHAR},
      </if>
      <if test="discountCode != null" >
        #{discountCode,jdbcType=VARCHAR},
      </if>
      <if test="discountName != null" >
        #{discountName,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>

  <select id="applyCardDisc" parameterType="java.lang.String" resultType="java.util.Map">
    select discount_id,discount_code,discount_name,city,flag from nmg_discount_info where 1 = 1
    <if test="city != null">
      and city = #{city,jdbcType=VARCHAR} or city = null or city = ""
    </if>
    <if test="city == null">
      and city = null or city = ""
    </if>
    <if test="flag != null">
      and flag = #{flag,jdbcType=VARCHAR}
    </if>
    <if test="discountId != null">
      and discount_id = #{discountId,jdbcType=VARCHAR}
    </if>
  </select>

  <delete id="cardDiscountDel" parameterType="java.lang.String">
    delete from nmg_discount_info where discount_id = #{discountId,jdbcType=VARCHAR}
  </delete>

  <update id="cardDiscountUpdate" parameterType="cn.leadeon.cardopenadmin.entity.nmg_discount_info">
    update nmg_discount_info set discount_code=#{discountCode,jdbcType=VARCHAR},discount_name=#{discountName,jdbcType=VARCHAR},city=#{city,jdbcType=VARCHAR} where discount_id=#{discountId,jdbcType=VARCHAR}
  </update>
</mapper>