<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.leadeon.cardopenadmin.mapper.nmg_user_roleMapper">
  <resultMap id="BaseResultMap" type="cn.leadeon.cardopenadmin.entity.nmg_user_role">
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_type" jdbcType="VARCHAR" property="roleType" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="create_people" jdbcType="VARCHAR" property="createPeople" />
  </resultMap>
  <insert id="insert" parameterType="cn.leadeon.cardopenadmin.entity.nmg_user_role">
    insert into nmg_user_role (role_id, role_name, role_type, 
      create_time, create_people)
    values (#{roleId,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, #{roleType,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createPeople,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.leadeon.cardopenadmin.entity.nmg_user_role">
    insert into nmg_user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="roleType != null">
        role_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createPeople != null">
        create_people,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null">
        #{roleType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createPeople != null">
        #{createPeople,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="userRole" resultType="java.util.Map" parameterType="java.util.Map">
    select role_id,role_name,role_type,create_time,create_people from nmg_user_role where 1=1
    <if test="roleType != null">
      and role_type = #{roleType,jdbcType=VARCHAR}
    </if>
    <if test="role_name != null">
      and role_name = #{role_name,jdbcType=VARCHAR}
    </if>
    <if test="createPeople != null">
      and create_people = #{createPeople,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="userRoleTotal" resultType="java.lang.Integer" parameterType="java.util.Map">
    select count(*) from nmg_user_role where 1=1
    <if test="roleType != null">
      and role_type = #{roleType,jdbcType=VARCHAR}
    </if>
    <if test="role_name != null">
      and role_name = #{role_name,jdbcType=VARCHAR}
    </if>
    <if test="createPeople != null">
      and create_people = #{createPeople,jdbcType=VARCHAR}
    </if>
  </select>

  <delete id="roleDel" parameterType="java.lang.String">
    delete from nmg_user_role where role_id = #{roleId,jdbcType=VARCHAR}
  </delete>

    <update id="roleUpdate" parameterType="cn.leadeon.cardopenadmin.entity.nmg_user_role">
        update nmg_user_role set role_name = #{roleName,jdbcType=VARCHAR},role_type=#{roleType,jdbcType=VARCHAR},create_time=#{createTime,jdbcType=VARCHAR},create_people=#{createPeople,jdbcType=VARCHAR} where role_id=#{roleId,jdbcType=VARCHAR}
    </update>
</mapper>