<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.leadeon.cardopenadmin.mapper.nmg_meal_infoMapper" >
  <resultMap id="BaseResultMap" type="cn.leadeon.cardopenadmin.entity.nmg_meal_info" >
    <result column="meal_id" property="mealId" jdbcType="VARCHAR" />
    <result column="meal_code" property="mealCode" jdbcType="VARCHAR" />
    <result column="meal_name" property="mealName" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="cn.leadeon.cardopenadmin.entity.nmg_meal_info" >
    insert into nmg_meal_info (meal_id, meal_code, meal_name, 
      city,flag)
    values (#{mealId,jdbcType=VARCHAR}, #{mealCode,jdbcType=VARCHAR}, #{mealName,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR},#{flag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.leadeon.cardopenadmin.entity.nmg_meal_info" >
    insert into nmg_meal_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mealId != null" >
        meal_id,
      </if>
      <if test="mealCode != null" >
        meal_code,
      </if>
      <if test="mealName != null" >
        meal_name,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="flag != null">
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mealId != null" >
        #{mealId,jdbcType=VARCHAR},
      </if>
      <if test="mealCode != null" >
        #{mealCode,jdbcType=VARCHAR},
      </if>
      <if test="mealName != null" >
        #{mealName,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
  
  <select id="applyCardMeal" parameterType="java.lang.String" resultType="java.util.Map">
    select meal_id,meal_code,meal_name,city,flag from nmg_meal_info where 1 = 1
    <if test="city != null">
      and city = #{city,jdbcType=VARCHAR} or city = null or city = ""
    </if>
    <if test="city == null">
      and city = null or city = ""
    </if>
    <if test="flag != null">
      and flag = #{flag,jdbcType=VARCHAR}
    </if>
    <if test="mealId != null">
      and meal_id = #{mealId,jdbcType=VARCHAR}
    </if>
  </select>

  <delete id="cardMealDel" parameterType="java.lang.String">
    delete from nmg_meal_info where meal_id = #{mealId,jdbcType=VARCHAR}
  </delete>

  <update id="cardMealUpdate" parameterType="cn.leadeon.cardopenadmin.entity.nmg_meal_info">
    update nmg_meal_info set meal_code = #{mealCode,jdbcType=VARCHAR} ,meal_name = #{mealName,jdbcType=VARCHAR} ,city=#{city,jdbcType=VARCHAR} where meal_id = #{mealId,jdbcType=VARCHAR}
  </update>
</mapper>