<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.leadeon.cardopenadmin.mapper.nmg_menu_infoMapper">
  <resultMap id="BaseResultMap" type="cn.leadeon.cardopenadmin.entity.nmg_menu_info">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="father_id" jdbcType="VARCHAR" property="fatherId" />
    <result column="father_name" jdbcType="VARCHAR" property="fatherName" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="create_people" jdbcType="VARCHAR" property="createPeople" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="update_people" jdbcType="VARCHAR" property="updatePeople" />
  </resultMap>
  <insert id="insert" parameterType="cn.leadeon.cardopenadmin.entity.nmg_menu_info">
    insert into nmg_menu_info (id, role_id, menu_name, 
      father_id, father_name, url, 
      create_time, create_people, update_time, 
      update_people)
    values (#{id,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, 
      #{fatherId,jdbcType=VARCHAR}, #{fatherName,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createPeople,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, 
      #{updatePeople,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.leadeon.cardopenadmin.entity.nmg_menu_info">
    insert into nmg_menu_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="menuName != null">
        menu_name,
      </if>
      <if test="fatherId != null">
        father_id,
      </if>
      <if test="fatherName != null">
        father_name,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createPeople != null">
        create_people,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updatePeople != null">
        update_people,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="fatherId != null">
        #{fatherId,jdbcType=VARCHAR},
      </if>
      <if test="fatherName != null">
        #{fatherName,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createPeople != null">
        #{createPeople,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="updatePeople != null">
        #{updatePeople,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="menuList" resultType="java.util.Map">
    select id,menu_name,father_id,father_name,url from nmg_menu_info where 1 = 1
    <if test=" null != father_id and '' != father_id ">
      and father_id = #{father_id}
    </if>
    <if test=" null == father_id or '' == father_id ">
      and (url is null or url = '')
    </if>
    <if test="role == 1">
      and role_id in ('1','2','3','4')
    </if>
    <if test="role == 3">
      and role_id in ('3')
    </if>
    <if test="role == 4">
      and role_id in ('2','3','4')
    </if>
    order by id
  </select>
</mapper>