<div>
    <form class="layui-form" id="searchCharge">
        <a class="layui-btn layui-btn-normal" @click="add()">
            <i class="layui-icon"></i> 添加</a>
        <div class="layui-input-inline ml10">
            <select lay-filter="seleSupplier" name="seleSupplier">
                <option value="">请选择供应商</option>
                <option v-for="supplier in supplierList" v-bind:value="supplier.supplier">{{supplier.supplier}}</option>
            </select>
        </div>
        <div class="layui-input-inline ml10">
            <input type="text" autocomplete="off" placeholder="请输入名称" class="layui-input" v-model=
            "searchQuery">
        </div>
        <div class="layui-input-inline ml10">
            <a @click="searchCharge()" class="layui-btn layui-btn-normal">立即查询</a>
            <a @click="searchReset()" class="layui-btn layui-btn-primary">重置</a>
        </div>
    </form>
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col>
            <col width="150">
            <col width="150">
            <col width="100">
        </colgroup>
        <thead>
            <tr>
                <th>编码</th>
                <th>名称</th>
                <th>单价</th>
                <th>供应商</th>
                <!--<th>是否外联</th>-->
                <!--<th>备注</th>-->
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="charge in chargeList">
                <td>{{charge.CODE}}</td>
                <td>{{charge.NAME}}</td>
                <td>{{charge.PRICE}}</td>
                <th>{{charge.SUPPLIER}}</th>
                <!--<th>{{charge.IFUNION==="1"?"是":"否"}}</th>-->
                <!--<th>{{charge.REMARK}}</th>-->
                <td>
                    <a class="layui-btn layui-btn-sm layui-btn-normal" @click="edit(charge)" href="javascript:">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-sm" @click="del(charge)" href="javascript:">删除</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="page"></div>
    <form class="layui-form mt20" id="addCharge" style="display:none">
        <div class="layui-form-item">
            <label class="layui-form-label">编码</label>
            <div class="layui-input-inline" v-bind:class="{'inner-required':dbCode}">
                <input type="text" name="CODE" lay-verify="required" maxlength="5" autocomplete="off"  v-on:blur="checkCode()" v-on:input="dbCode=false" placeholder="请输入编码" class="layui-input" v-model="code">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline">
                <input type="text" name="NAME" lay-verify="required" maxlength="20" autocomplete="off" placeholder="请输入名称" class="layui-input" v-model="name">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">费用</label>
            <div class="layui-input-inline">
                <input type="text" name="PRICE" lay-verify="number|priceNumber" maxlength="8"  autocomplete="off" placeholder="请输入费用" class="layui-input" v-model="price">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">供应商</label>
            <div class="layui-input-inline">
                <input type="text" name="SUPPLIER" lay-verify="" maxlength="20" autocomplete="off" placeholder="请输入供应商" class="layui-input" v-model="supplier">
            </div>
        </div>
        <!-- <div class="layui-form-item">
            <label class="layui-form-label">是否外联</label>
            <div class="layui-input-inline">
                <input id="adda" type="radio" name="IFUNION" value="1" title="是" checked>
                <input id="addb" type="radio" name="IFUNION" value="0" title="否">
            </div>
        </div> -->
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-inline">
                <input type="text" name="REMARK" lay-verify="" maxlength="30" autocomplete="off" placeholder="" class="layui-input" v-model="remark">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-inline">
                <button class="layui-btn layui-btn-normal mt20" lay-submit="" lay-filter="add">新增</button>
                <a class="layui-btn layui-btn-danger mt20 layui-layer-close layui-layer-close1" href="javascript:">取消</a>
            </div>
        </div>
    </form>

    <form class="layui-form mt20" id="editCharge" style="display:none">
        <div class="layui-form-item">
            <label class="layui-form-label">编码</label>
            <div class="layui-input-inline">
                <input type="text" name="CODE" lay-verify="required" maxlength="5" autocomplete="off" placeholder="请输入编码" class="layui-input input-disabled" disabled v-model="code">
                <input type="hidden" name="ID" v-model="ID">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline">
                <input type="text" name="NAME" lay-verify="required" maxlength="20" autocomplete="off" placeholder="请输入名称" class="layui-input" v-model="name">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">费用</label>
            <div class="layui-input-inline">
                <input type="text" name="PRICE" lay-verify="number|priceNumber" maxlength="8" autocomplete="off" placeholder="请输入费用" class="layui-input" v-model="price">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">供应商</label>
            <div class="layui-input-inline">
                <input type="text" name="SUPPLIER" lay-verify="" maxlength="20" autocomplete="off" placeholder="请输入供应商" class="layui-input" v-model="supplier">
            </div>
        </div>
        <!-- <div class="layui-form-item">
            <label class="layui-form-label">是否外联</label>
            <div class="layui-input-inline">
                <input type="radio" id="a" name="IFUNION" value="1" title="是" checked>
                <input type="radio" id="b" name="IFUNION" value="0" title="否">
            </div>
        </div> -->
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-inline">
                <input type="text" name="REMARK" lay-verify="" maxlength="30" autocomplete="off" placeholder="备注" class="layui-input" v-model="remark">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-inline">
                <button class="layui-btn layui-btn-normal mt20" lay-submit="" lay-filter="edit">修改</button>
                <a class="layui-btn layui-btn-danger mt20 layui-layer-close layui-layer-close1" href="javascript:">取消</a>
            </div>
        </div>
    </form>
</div>