<div>
    <div class="layui-form" id="departGoalSearch">
        <div class="layui-input-inline">
            <select lay-filter="year">
                <option value=""></option>
                <option v-for="year in year_list" v-bind:selected="selected(year)">{{year}}</option>
            </select>
        </div>
        <div class="layui-input-inline">
            <select lay-filter="goal">
                <option value=""></option>
                <option v-for="goal in goal_list" :value="goal.type">{{goal.name}}</option>
            </select>
        </div>
        <div class="layui-input-inline">
            <input type="text" name="searchQuery" v-model="searchQuery" placeholder="请输入名称" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-input-inline ml10">
            <a class="layui-btn layui-btn-normal" @click="searchCharge">立即查询</a>
        </div>
        <div class="layui-input-inline rg">
            <a class="layui-btn layui-btn-normal" @click="add">导入</a>
            <a class="layui-btn layui-btn-normal" @click="download">下载模板</a>
        </div>
        <i class="clearfix"></i>
    </div>
    <div class="layui-form" style="position: relative;">
        <div style="overflow-x:auto;">
            <table class="layui-table" style="width: 100%;">
                <colgroup>
                    <col width="100">
                    <col width="50">
                    <col width="50">
                    <col width="50">
                    <col width="50">
                    <col width="50">
                    <col width="50">
                    <col width="50">
                    <col width="50">
                    <col width="50">
                    <col width="50">
                    <col width="50">
                    <col width="50">
                    <col width="50">
                    <col width="50">
                    <col width="20">
                </colgroup>
                <thead>
                    <tr>
                        <th>部门名称</th>
                        <th>类型</th>
                        <th>1月</th>
                        <th>2月</th>
                        <th>3月</th>
                        <th>4月</th>
                        <th>5月</th>
                        <th>6月</th>
                        <th>7月</th>
                        <th>8月</th>
                        <th>9月</th>
                        <th>10月</th>
                        <th>11月</th>
                        <th>12月</th>
                        <th>合计</th>
                        <th>空</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in proGoal_list">
                        <td>{{item.ORGNAME}}</td>
                        <td>{{showGoalName(item)}}</td>
                        <td>{{item.M1}}</td>
                        <td>{{item.M2}}</td>
                        <td>{{item.M3}}</td>
                        <td>{{item.M4}}</td>
                        <td>{{item.M5}}</td>
                        <td>{{item.M6}}</td>
                        <td>{{item.M7}}</td>
                        <td>{{item.M8}}</td>
                        <td>{{item.M9}}</td>
                        <td>{{item.M10}}</td>
                        <td>{{item.M11}}</td>
                        <td>{{item.M12}}</td>
                        <td>{{item.TOTAL}}</td>
                        <td>
                            <span class="layui-btn layui-btn-sm layui-btn-normal">空</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="position: absolute; right: 0; top:0; width: 60px;">
            <table class="layui-table">
                <colgroup>
                    <col width="50">
                </colgroup>
                <thead>
                    <tr>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in proGoal_list">
                        <td>
                            <a class="layui-btn layui-btn-sm layui-btn-normal" @click="edit(item)" href="javascript:">编辑</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="page"></div>
    <form class="layui-form mt20" id="departGoalEdit" style="display: none">
        <div class="layui-inline">
            <label class="layui-form-label">1月</label>
            <div class="layui-input-inline">
                <input type="text" v-model="edit_item.m1" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">2月</label>
            <div class="layui-input-inline">
                <input type="text" v-model="edit_item.m2" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">3月</label>
            <div class="layui-input-inline">
                <input type="text" v-model="edit_item.m3" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">4月</label>
            <div class="layui-input-inline">
                <input type="text" v-model="edit_item.m4" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">5月</label>
            <div class="layui-input-inline">
                <input type="text" v-model="edit_item.m5" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">6月</label>
            <div class="layui-input-inline">
                <input type="text" v-model="edit_item.m6" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">7月</label>
            <div class="layui-input-inline">
                <input type="text" v-model="edit_item.m7" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">8月</label>
            <div class="layui-input-inline">
                <input type="text" v-model="edit_item.m8" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">9月</label>
            <div class="layui-input-inline">
                <input type="text" v-model="edit_item.m9" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">10月</label>
            <div class="layui-input-inline">
                <input type="text" v-model="edit_item.m10" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">11月</label>
            <div class="layui-input-inline">
                <input type="text" v-model="edit_item.m11" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">12月</label>
            <div class="layui-input-inline">
                <input type="text" v-model="edit_item.m12" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item text-center btn-group">
            <a class="layui-btn layui-btn-normal" href="javascript:" lay-submit="" lay-filter="edit">确定</a>
            <a class="layui-btn layui-btn-danger layui-layer-close" href="javascript:">取消</a>
        </div>
    </form>
    <form class="layui-form mt20" id="departGoalImport" style="display: none">
        <div class="layui-form-item">
            <label class="layui-form-label">维度</label>
            <div class="layui-input-inline">
                <select lay-filter="goalCate" name="goalCate" lay-verify="required">
                    <option value=""></option>
                    <option value="0">按部门</option>
                    <option value="1">按产品</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">请选择年份</label>
            <div class="layui-input-inline">
                <select lay-filter="importYear">
                    <option v-for="year in year_list" v-bind:selected="selected(year)">{{year}}</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-inline">
                <select lay-filter="goalType" name="goalType" lay-verify="required">
                    <option value="" selected></option>
                    <option v-for="goal in goal_list" :value="goal.type">{{goal.name}}</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">请选择文件</label>
            <div class="layui-input-inline">
               <button type="button" class="layui-btn layui-btn-normal" @click="addFile()">选择文件</button>
               <template v-show="fileNameShow">
                   <div>{{filename}}</div>
               </template>
               <input style="display: none" type="file" id='file1' @change="fileChange()">
            </div>
        </div>
        <div class="layui-form-item text-center btn-group">
            <a class="layui-btn layui-btn-normal" id="upload" lay-submit="" lay-filter="upload" href="javascript: ">确定</a>
            <a class="layui-btn layui-btn-danger layui-layer-close" href="javascript:">取消</a>
        </div>
    </form>
    <form class="layui-form mt20" id="departModelDL" style="display: none">
        <div class="layui-form-item text-center btn-group">
            <a class="layui-btn layui-btn-normal" :href="ajax_url+'exportExcel?type=0'">下载部门模板</a>
            <a class="layui-btn layui-btn-normal" :href="ajax_url+'exportExcel?type=1'">下载产品模板</a>
        </div>
    </form>
</div>