<div>
    <form class="layui-form">
        <a class="layui-btn layui-btn-normal" @click="add()">
            <i class="layui-icon"></i> 添加</a>
        <div class="layui-input-inline ml10">
            <input type="text" name="keyword" value="" placeholder="请输入名称" autocomplete="off" class="layui-input" v-model="pro_NAME">
        </div>
        <div class="layui-input-inline ml10">
            <button lay-submit="" lay-filter="search" class="layui-btn layui-btn-normal">立即查询</button>
            <a @click="searchReset()" class="layui-btn layui-btn-primary">重置</a>
        </div>
    </form>
    <div class="layui-form" style="position: relative;">
        <div style="overflow-x:auto;">
            <table class="layui-table" style="min-width: 1260px;">
                <colgroup>
                    <col width="170">
                    <!-- <col width="600"> -->
                    <col>
                    <col width="200">
                </colgroup>
                <thead>
                    <tr>
                        <th>编码</th>
                        <th>名称</th>
                        <!-- <th>表达式</th> -->
                        <th>描述</th>
                        <th>空</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index) in targetlist" v-bink::key="index">
                        <td>{{item.TARGET_CODE}}</td>
                        <td><div :title="item.TARGET_NAME" style="width: 170px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis">{{item.TARGET_NAME}}</div></td>
                        <!-- <td>
                                <div :title="item.TARGET_EXPRE" style="width: 560px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis">{{item.TARGET_EXPRE}}</div>
                            </td> -->
                        <td>
                            <div :title="item.TARGET_DESC" style="width: 760px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis">{{item.TARGET_DESC}}</div>
                        </td>
                        <td>
                            <span class="layui-btn layui-btn-sm layui-btn-normal">空</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="position: absolute; right: 0; top:0; width: 201px;">
            <table class="layui-table">
                <colgroup>
                    <col width="200">
                </colgroup>
                <thead>
                    <tr>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index) in targetlist" v-bink::key="index">
                        <td>
                            <a class="layui-btn layui-btn-sm layui-btn-normal" @click="edit(item)" href="javascript:">编辑</a>
                            <a class="layui-btn layui-btn-danger layui-btn-sm" @click="del(item)" href="javascript:">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="page"></div>
    </div>
    <!--add-->
    <form class="layui-form mt20" id="manageAdd" style="display: none;">
        <div class="layui-form-item">
            <div class="layui-inline" style="float: left;">
                <label class="layui-form-label" style="text-align: left; width: 40px !important">名称</label>
                <div class="layui-input-inline" style="width: 130px !important">
                    <input type="text" name="TARGET_NAME" lay-verify="required" maxlength="30" autocomplete="off" placeholder="" class="layui-input">
                </div>
            </div>
            <div class="layui-inline" style="float: left;">
                <label class="layui-form-label" style="text-align: left; width: 40px !important">描述</label>
                <div class="layui-input-inline" style="width: 130px !important">
                    <input type="text" name="TARGET_DESC" lay-verify="required" maxlength="100" autocomplete="off" placeholder="" class="layui-input">
                </div>
            </div>
            <div class="layui-input-inline" style="width: 130px !important">
                <select name="TARGET_LEVEL" lay-filter="select" lay-search="">
                    <option value="">请选择层级</option>
                    <option v-for="(item,index) in TARGET_LEVEL" :value="item.PARAM_VALUE">{{item.PARAM_NAME}}</option>
                </select>
            </div>
            <div class="layui-input-inline" style="width: 130px !important">
                <select name="TARGET_TYPE" lay-filter="select" lay-search="">
                    <option value="">请选择优先级</option>
                    <option v-for="(item,index) in TARGET_TYPE" :value="item.PARAM_VALUE">{{item.PARAM_NAME}}</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item calculator-block">
            <div class="layui-row layui-col-space10">
                <div class="layui-col-md6 layui-col-xs6">

                    <!-- <div class="layui-input-inline" style="margin-bottom: 10px;">
                            <select name="IS_PUBLIC" lay-filter="select" lay-search="">
                                <option value="">是否公共</option>
                                <option value="1">是</option>
                                <option value="0">否</option>
                                <option value="2">无关</option>
                            </select>
                        </div> -->
                    <div class="parameter-block">
                        <ul class="parameter-list">
                            <li v-for="item in argList" v-on:click="addItem(item)">{{item.NAME}}</li>
                        </ul>
                    </div>
                </div>
                <div class="layui-col-md6 layui-col-xs6">
                    <ul class="calculator">
                        <li v-for="item in calculator_items" v-on:click="addItem(item)">{{item}}</li>
                        <li v-on:click="reBack()">撤销</li>
                        <li v-on:click="reSet()">重算</li>
                    </ul>
                    <textarea v-model="output" name="TARGET_EXPRE" placeholder="请选择参数进行计算" disabled class="layui-textarea"></textarea>
                    <br>
                    <textarea v-model="output_cn" name="TARGET_EXPLAIN" placeholder="请选择参数进行计算" disabled class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;">
            <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="add">保存</button>
            <a class="layui-btn layui-btn-danger layui-layer-close layui-layer-close1" href="javascript:">取消</a>
        </div>
    </form>
    <!--edit-->
    <form class="layui-form mt20" id="manageEdit" style="display: none;">
        <div class="layui-form-item">
            <div class="layui-inline" style="float: left;">
                <input type="hidden" name="TARGET_ID" v-model="currItem.TARGET_ID">
                <label class="layui-form-label" style="text-align: left; width: 40px !important">名称</label>
                <div class="layui-input-inline" style="width: 130px !important">
                    <input type="text" name="TARGET_NAME" maxlength="30" v-model="currItem.TARGET_NAME" lay-verify="required" autocomplete="off" placeholder=""
                        class="layui-input">
                </div>
            </div>
            <div class="layui-inline" style="float: left;">
                <label class="layui-form-label" style="text-align: left; width: 40px !important">描述</label>
                <div class="layui-input-inline" style="width: 130px !important">
                    <input type="text" name="TARGET_DESC" maxlength="100" v-model="currItem.TARGET_DESC" lay-verify="required" autocomplete="off" placeholder=""
                        class="layui-input">
                </div>
            </div>
            <div class="layui-input-inline" style="width: 130px !important">
                <select name="TARGET_LEVEL" lay-filter="select" lay-search="">
                    <option value="">请选择层级</option>
                    <template v-for="(item,index) in TARGET_LEVEL">
                        <option v-if="currItem.TARGET_LEVEL == item.PARAM_VALUE" selected :value="currItem.TARGET_LEVEL">{{currItem.TARGET_LEVEL}}</option>
                        <option v-else :value="item.PARAM_VALUE">{{item.PARAM_NAME}}</option>
                    </template>
                </select>
            </div>
            <div class="layui-input-inline" style="width: 130px !important">
                <select name="TARGET_TYPE" lay-filter="select" lay-search="">
                    <option value="">请选择优先级</option>
                    <template v-for="(item,index) in TARGET_TYPE">
                        <option v-if="currItem.TARGET_TYPE == item.PARAM_VALUE" selected :value="currItem.TARGET_TYPE">{{currItem.TARGET_TYPE}}</option>
                        <option v-else :value="item.PARAM_VALUE">{{item.PARAM_NAME}}</option>
                    </template>
                </select>
            </div>
        </div>
        <div class="layui-form-item calculator-block">
            <div class="layui-row layui-col-space10">
                <div class="layui-col-md6 layui-col-xs6">

                    <!-- <div class="layui-input-inline" style="margin-bottom: 10px;">
                            <select name="IS_PUBLIC" lay-filter="select" lay-search="">
                                <option value="">是否公共</option>
                                <option value="1">是</option>
                                <option value="0">否</option>
                                <option value="2">无关</option>
                            </select>
                        </div> -->
                    <div class="parameter-block">
                        <ul class="parameter-list">
                            <li v-for="item in argList" v-on:click="addItem(item)">{{item.NAME}}</li>
                        </ul>
                    </div>
                </div>
                <div class="layui-col-md6 layui-col-xs6">
                    <ul class="calculator">
                        <li v-for="item in calculator_items" v-on:click="addItem(item)">{{item}}</li>
                        <li v-on:click="reBack()">撤销</li>
                        <li v-on:click="reSet()">重算</li>
                    </ul>
                    <textarea v-model="output" class="abc" name="TARGET_EXPRE" placeholder="请选择参数进行计算" disabled class="layui-textarea"></textarea>
                    <br>
                    <textarea v-model="output_cn" name="TARGET_EXPLAIN" placeholder="请选择参数进行计算" disabled class="layui-textarea"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;">
            <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="edit">保存</button>
            <a class="layui-btn layui-btn-danger layui-layer-close layui-layer-close1" href="javascript:">取消</a>
        </div>
    </form>
</div>