<div>
    <form id="suppleBtns" class="layui-form">

        <div class="layui-input-inline ml10">
            <select lay-filter="seleDepart" name="seleDepart">
                <option value="">请选择部门</option>
                <option v-for="depart in departList" v-bind:value="depart.CMIS_ORG_ID">{{depart.CMIS_ORG_NAME}}</option>
            </select>
        </div>
        <div class="layui-input-inline ml10">
            <select lay-filter="seleDataMonth" name="seleDataMonth">
                <option value="">请选择日期</option>
                <option v-for="date in dataMonthList" v-bind:value="date.SUM_DATE">{{date.SUM_DATE}}</option>
            </select>
        </div>
        <div class="layui-input-inline ml10">
            <input type="text" autocomplete="off"  placeholder="请输入产品名称" class="layui-input" v-model="name">
        </div>
        <div class="layui-input-inline ml10">
            <a @click="searchSupple()" class="layui-btn layui-btn-normal" >立即查询</a>
            <a class="layui-btn layui-btn-primary" @click="searchReset()">重置</a>
        </div>
        
    </form>
    <div class="layui-form" style="position: relative;">
        <div style="overflow-x:auto;">
            <table class="layui-table" style="width: 100%;">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                    <col width="200">
                    <col width="70">
                </colgroup>
                <thead>
                    <tr>
                        <th>日期</th>
                        <th>部门名称</th>
                        <th>产品名称</th>
                        <th>补录值</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in recordList">
                        <td>{{item.SUM_DATE}}</td>
                        <td>{{item.BIG_NAME}}</td>
                        <td>{{item.PRO_NAME}}</td>
                        <td>{{item.EXP_VALUE}}</td>
                        
                        <td>
                            <button class="layui-btn layui-btn-normal layui-btn-sm" v-on:click="edit(item)">编辑</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="page"></div>
    </div>
  
    <!-- edit -->
    <form class="layui-form mt20" id="apiEdit" style="display: none;">
        <div>
            <div class="layui-form-item">
                <div class="layui-block">
                    <label class="layui-form-label">日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="SUM_DATE" lay-verify="SUM_DATE" autocomplete="off" placeholder="" class="layui-input input-disabled" disabled v-model="edit_data.SUM_DATE">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-block">
                    <label class="layui-form-label">部门名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="BIG_NAME" lay-verify="" autocomplete="off" placeholder="" class="layui-input input-disabled" disabled v-model="edit_data.BIG_NAME">
                        <input type="hidden" name="BIG_CODE" v-model="edit_data.BIG_CODE">
                        <input type="hidden" name="DEPT_ID" v-model="edit_data.DEPT_ID">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-block">
                    <label class="layui-form-label">产品名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="PRO_NAME" lay-verify="r" autocomplete="off" placeholder="" class="layui-input input-disabled" disabled v-model="edit_data.PRO_NAME">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-block">
                    <label class="layui-form-label">补录值</label>
                    <div class="layui-input-inline">
                        <input type="text" name="EXP_VALUE" lay-verify="required|number" autocomplete="off" placeholder="" class="layui-input" maxlength="8" v-model="edit_data.EXP_VALUE">
                        <input type="hidden" name="EXP_CODE" v-model="edit_data.EXP_CODE">
                        <input type="hidden" name="EXP_NAME" v-model="edit_data.EXP_NAME">
                    </div>
                </div>
            </div>
            <div class="layui-form-item text-center">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="edit">保存</button>
                        <a href="javascript:" class="layui-btn layui-btn-danger layui-layer-close layui-layer-close1">取消</a>
                    </div>
                </div>
            </div>
        </div>
    </form>          
    <div class="load" v-show="load"></div>
</div>