<div>
    <meta charset="UTF-8">
    <div class="layui-input-inline ml10">
        <a class="layui-btn layui-btn-normal" v-on:click="mealAdd('')">新增</a>
        <a class="layui-btn layui-btn-normal" v-on:click="mealDel()">删除</a>
    </div>
    <form class="layui-form">
        <div class="layui-form" style="position: relative;">
            <div style="overflow-x:auto;">
                <table class="layui-table" style="width: 100%;">
                    <colgroup>
                        <col width="50">
                        <col width="200">
                        <col width="200">
                        <col width="200">
                        <col width="50">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>选择</th>
                        <th>套餐资费</th>
                        <th>资费代码</th>
                        <th>盟市</th>
                        <th>当前状态</th>
                        <th>管理</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item,index) in codeList" v-bink::key="index">
                        <td>
                            <input type="checkbox" :value="item.meal_code" :checked="checkInit(item)" lay-filter="check" lay-skin="primary" >
                        </td>
                        <td>{{item.meal_name}}</td>
                        <td>{{item.meal_code}}</td>
                        <td>{{item.city_name}}</td>
                        <td>{{item.state}}</td>
                        <td>
                            <a class="layui-btn layui-btn-normal layui-btn-sm" v-on:click="mealAdd(item)">修改</a>
                            <a class="layui-btn layui-btn-normal layui-btn-sm" v-on:click="state(1,item.meal_id)" v-if="item.stateVal=='2'">上线</a>
                            <a class="layui-btn layui-btn-normal layui-btn-sm" v-on:click="state(2,item.meal_id)" v-if="item.stateVal=='1'">下线</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
    <!-- 新增 -->
    <form class="layui-form mt20" id="edit" style="display: none;">
        <div>
            <div class="layui-form-item">
                <div class="layui-block">
                    <label class="layui-form-label">套餐资费</label>
                    <div class="layui-input-inline">
                        <input type="text" name="mealName" lay-verify="" autocomplete="off" placeholder="" class="layui-input" v-model="edit.mealName">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-block">
                    <label class="layui-form-label">资费代码</label>
                    <div class="layui-input-inline">
                        <input type="text" name="mealCode" lay-verify="" autocomplete="off" placeholder="" class="layui-input" v-model="edit.mealCode">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <input type="hidden" name="mealId" lay-verify="" autocomplete="off" placeholder="" class="layui-input" v-model="edit.mealId">
            </div>
            <div class="layui-form-item text-center">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="edit">保存</button>
                        <a href="javascript:" class="layui-btn layui-btn-danger layui-layer-close layui-layer-close1">取消</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="load" v-show="load"></div>
</div>